.gallery{
    background-color: yellow;
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 5%;
    justify-content: center;

    justify-items: center;
    align-items: center;
}

.gallery img{
    width: 100%;
}

@media screen and (min-width: 500px){
    .gallery {
        background-color: darkgreen;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;

    }

    .gallery img:nth-of-type(4){
        grid-row: 2/2;
        grid-column: 1/ -1;
    }

    .gallery img:nth-of-type(8){
        grid-row: 4/4;
        grid-column: 1/ -1;
    }
}

@media screen and (min-width: 600px){
    .gallery {
        background-color: pink;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: start;
        align-items: stretch;
        column-gap: 0px;
    }

    gallery img:nth-of-type(4){
        grid-row: 2/2;
        grid-column: 1/ span 4;
    }

    .gallery img:nth-of-type(8){
        grid-row: 4/4;
        grid-column: 1/ span 4;
    }
}

@media screen and (min-width: 700px){
    .gallery {
        background-color: red;
        grid-template-columns: 25% 25%;

        
    }
}
